# Salesforce / SFDX / CCI
.cci
.sfdx
.sf
/src.orig
/src

# Python
*.pyc
__pycache__

# Robot Framework results
robot/DataGenerationTool/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store

node_modules
snowfakery_samples/temp/
!snowfakery_samples/temp/README.md
